__pycache__/*
*/__pycache__/*
__machine_specific/*
temp/*
app/templates/tmp/*
frontend/public/tmp/*
.vscode/*
.idea/*
venv/*
./*.log
.git
dist
node_modules
vendor
app/templates/

!.gitkeep
!/*/.gitkeep